// @import "../../node_modules/nord/src/sass/nord.scss";
@import "../../../node_modules/nord/src/sass/nord.scss";

.Blog {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
    // min-height: 100vh;
    // position: relative;
}

.NotReady {
  padding-top: 200px;
  position: relative;
//  top: 50%;
//  transform: translateY(-50%);
//  width: 100%;
  }
