@import "../node_modules/nord/src/sass/nord.scss";

body {
    margin: 0;
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    //   sans-serif;
    font-family: 'Aspekta-100';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $nord6;
  }
  
  @font-face {
    // font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    //   monospace;
    font-family: 'Aspekta-100';
    src: local('Aspekta-100'), url(./fonts/webfonts/Aspekta-450.woff2) format('woff2')
  }



  
  